<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.number_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :coord_x %><br />
    <%= f.number_field :coord_x %>
  </div>
  <div class="field">
    <%= f.label :coord_y %><br />
    <%= f.number_field :coord_y %>
  </div>
  <div class="field">
    <%= f.label :coord_z %><br />
    <%= f.number_field :coord_z %>
  </div>
  <div class="field">
    <%= f.label :mac %><br />
    <%= f.number_field :mac %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
