<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @beacon.place_id %>
</p>

<p>
  <b>Coord x:</b>
  <%= @beacon.coord_x %>
</p>

<p>
  <b>Coord y:</b>
  <%= @beacon.coord_y %>
</p>

<p>
  <b>Coord z:</b>
  <%= @beacon.coord_z %>
</p>


<%= link_to 'Edit', edit_beacon_path(@beacon) %> |
<%= link_to 'Back', beacons_path %>
