<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @magnetic.place_id %>
</p>

<p>
  <b>X:</b>
  <%= @magnetic.x %>
</p>

<p>
  <b>Y:</b>
  <%= @magnetic.y %>
</p>

<p>
  <b>Z:</b>
  <%= @magnetic.z %>
</p>

<p>
  <b>Angle:</b>
  <%= @magnetic.angle %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @magnetic.magnitude %>
</p>

<p>
  <b>Xcoord:</b>
  <%= @magnetic.xcoord %>
</p>

<p>
  <b>Ycoord:</b>
  <%= @magnetic.ycoord %>
</p>

<p>
  <b>Xsd:</b>
  <%= @magnetic.xsd %>
</p>

<p>
  <b>Ysd:</b>
  <%= @magnetic.ysd %>
</p>

<p>
  <b>Zsd:</b>
  <%= @magnetic.zsd %>
</p>

<p>
  <b>Magnitudesd:</b>
  <%= @magnetic.magnitudesd %>
</p>


<%= link_to 'Edit', edit_magnetic_path(@magnetic) %> |
<%= link_to 'Back', magnetics_path %>
