<p id="notice"><%= notice %></p>

<p>
  <b>Place:</b>
  <%= @magnetic_finger_print.place_id %>
</p>

<p>
  <b>X:</b>
  <%= @magnetic_finger_print.x %>
</p>

<p>
  <b>Y:</b>
  <%= @magnetic_finger_print.y %>
</p>

<p>
  <b>Z:</b>
  <%= @magnetic_finger_print.z %>
</p>

<p>
  <b>Angle:</b>
  <%= @magnetic_finger_print.angle %>
</p>

<p>
  <b>Magnitude:</b>
  <%= @magnetic_finger_print.magnitude %>
</p>

<p>
  <b>Magnetic:</b>
  <%= @magnetic_finger_print.magnetic_id %>
</p>


<%= link_to 'Edit', edit_magnetic_finger_print_path(@magnetic_finger_print) %> |
<%= link_to 'Back', magnetic_finger_prints_path %>
